.half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

#bgImg {
    background-image: url(/pages/Home/background.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.social {
    position: absolute;
    right: 1vw;
    top: 1vw;
}

.half a i {
    color: black;
}
