:root {
    --main-color: #3e603b;
}

nav {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 4vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: var(--main-color);
    z-index: 100;
}

i {
    color: white;
}

#logo {
    position: absolute;
    top: calc(2vw - 1em);
    left: calc(2vw - (3em / 2 * 0.75));
}

#logo i {
    font-size: 3em;
}

#hamburger,
#hamburger:hover,
#hamburger:focus,
#hamburger:active,
#hamburger:enabled {
    position: absolute;
    border: none;
    background-color: transparent;
    left: 1vw;
    top: calc(50vh - 1vw);
    width: 2vw;
    height: 2vw;
}

#hamburger i {
    font-size: 2em;
}

#menu {
    margin-left: 4vw;
}

.flex {
    display: flex;
    flex-direction: column;
}

#menu * button {
    background-color: transparent;
    border: none;
    color: white;
    padding: .5em;
    margin: .5em;
}


