@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --main-color: #3e603b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#mainFrame {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:4vw;
    width: 96vw;
    height: 100vh;
}

h1 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 85px;
    font-weight: 100;
    color: var(--main-color);
    margin-bottom: 4vh;
}

h2 {
    font-size: 30px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 100;
}

i.hidden,
.hidden {
    display: none;
}
