<!-- Main screen ----------------------------------------------------------------------------------------->
<div id="hero" class="row w-100">
    <img class="col-md-6" src="" alt=""><!-- img -->
    <div id="titleScreen" class=" col-12 col-md-6">
        <h1></h1><!-- title -->
        <p></p><!-- subtitle -->
        <div class="social">
            <a href="https://www.instagram.com/_.marialface._/"
                target="_blank"><i
                    class="fa-brands fa-instagram fa-3x"></i></a>
            <a href="https://www.youtube.com/@seed7917"
                target="_blank"><i
                    class="fa-brands fa-youtube fa-3x"></i></a>
        </div>
    </div>
</div>