:root {
    --main-color: #3e603b;
}

/* hero */

#hero {
    border: 1px solid var(--main-color);
}

#bgImg {
    background-image: url(/imgs/background.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

#titleScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

#titleScreen p {
    margin: 0 auto;
    text-align: center;
}


.social {
    position: absolute;
    right: 1vw;
    top: 1vw;
}

.social i {
    color: black;
}


/* Mobile ----------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
    #titleScreen:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(/imgs/background.jpg);
        background-size: auto calc(100vh - 4rem);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -1;
    }
    #titleScreen {
        height: calc(100vh - 4rem);
    }
    
    #titleScreen h1 {
        font-size: 18vw;
    }
    
    #about-website {
        width: 100%;
    }
    
}