@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --main-color: #3e603b;
}

/* Tools */

.hidden {
    display: none;
}

/* Desktop */

body {
    min-height: 100vh;
    display: flex;
}

/* Parts */

a {
    text-decoration: none;
}

h1 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 85px;
    font-weight: 100;
    color: var(--main-color);
    margin-bottom: 4vh;
    text-align: center;
}

h2 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: var(--main-color);
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: 100;
}

span,
strong {
    margin: 0 !important;
    padding: 0 !important;
}

strong {
    font-weight: 300;
}

hr {
    width: 70vw;
    border-bottom: var(--main-color) 1px solid;
}

/* navbar */

.innerNav {
    z-index: 99;
    position: fixed;
    background-color: var(--main-color);
    height: 100vh;
    min-width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: white 1px solid;
}

.innerNav button {
    margin: auto 0;
}

#navMenu {
    position: fixed;
    left: 4rem;
    top: 0;
    bottom: 0;
    background-color: var(--main-color);
    overflow: hidden;
    z-index: 98;
}

button i {
    color: white;
    font-size: 2rem;
}

button i.hidden {
    display: none;
}

#logo {
    color: white;
    font-size: 3rem;
}

/* main */

main {
    position: absolute;
    left: 4rem;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}


/* Footer */

footer {
    background-color: var(--main-color);
    width: 100%;
    margin: 0;
    padding: 1rem;
}

footer * {
    color: white;
}



/* Mobile */
@media screen and (max-width: 767px) {
    body {
        flex-direction: column;
    }

    .innerNav {
        height: 4rem;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: white 1px solid;
        border-right: none;
    }

    .innerNav button {
        margin-right: 1rem;
    }
    
    #logo {
        margin: 0 0 .5rem .5rem;
    }

    #navMenu {
        left: 0;
        top: 4rem;
        right: 0;
        bottom: auto;
    }

    main {
        left: 0;
    }
    
}