.receitas a {
    position: relative;
    padding: 16px;
    margin: 0;
}

.receitas a img {
    object-fit: cover;
    padding: auto 0;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.receitas a div {
    position: absolute;
    top: 70%;
    bottom: 17px;
    left: 17px;
    right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: auto 0;
    border-top: 1px solid black;
    z-index: 2;
}

.receitas a div h3 {
    text-align: center;
    color: black;
}