:root {
    --main-color: #3e603b;
}

/* Desktop */

.sec {
    position: relative;
    align-items: flex-start;
}

.sec h4,
li {
    margin: 0 !important;
}

.sec img {
    max-width: 70%;
    position: sticky;
    top: 4rem;
    bottom: 4rem !important;
}

.secEnd {
    align-items: center;
}

ul {
    width: 70%;
}

h1 {
    margin-top: 4rem;
}

p,
li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 100;
}

#instrucoes {
    flex-direction: column;
    text-align: start;
}

#instrucoes h4 {
    padding-left: 2rem;
}

#instrucoes ol,
#instrucoes h2 {
    margin: 1rem 2rem;
}

/* Mobile */

@media screen and (max-width: 767px) {
    .sec {
        align-items: center;
    }
    .sec img {
        position: initial;
        max-width: 80%;
        margin: 0;
    }
    .secEnd {
        max-width: 90%;
        align-items: center;
    }
    h1 {
        font-size: 50px;
        margin-top: 1rem;
    }
    ul {
        width: 100%;
    }

}